@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif
}
nav{
    background-color: teal;
    min-height: 45px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    color:white;
    padding:13px 10px;
    font-family: 'Roboto', sans-serif;
}
/* ==========END OF MENU CSS============ */
.left-box{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;

}
section{
    height: 580px;
}
section.about{
    padding-top: 57px;
}
.left-box h1{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.left-box .name-heighlight{
    color:orange;
}
.right-box{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 3%;
}
.left-box img {
    width: 492px;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-color: orange;
    background-image: linear-gradient(90deg,orange,lightSalmon);
    padding:10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top:10px;
}
/* =================END OF ABOUT CSS====================== */
.box{
    width: 25.33%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 3px 7px 20px black;
    padding: 10px;
    border-radius: 10px;
    height: 62%;
}
#project-area-bg{
    background-color: #f3f2f2;
    padding-top: 10px;
}
.box img{
    width: 100%;
}
.working-heighlight{
    color:tomato;
}
#top-bg{
    height: 650px;
}
#inquery{
    height: 285px;
}
.bg-image {
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 12%;
    margin-top: 66px;
    width: 75%;
    height: 300px;
}
.left-text h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
}
.left-text {
    float: left;
    padding-top: 43px;
    margin-left: 5%;
}
.right-text{
    float: right;
}
.right-box p{
    text-align: justify;
}
.right-text a {
    margin-top: 107px;
    margin-left: -184px;
}
#contact-bg {
    height: 456px;
    background-image: linear-gradient(45deg, black, #4a4343, transparent);
    padding-top: 2px;
}
.contact-page input {
    padding: 18px 33px;
    background-color: #ddd;
    border-radius: 6px;
}
.contact-page textarea {
    background-color: #ddd;
    border-radius: 9px;
    margin-top: 16px;
}
.contact-page button {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
.contact-page h1 {
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif
}
.contact-page form {
    margin-left: 26%;
}
/* START FOTTER PART OF CSS */
footer {
    margin-left: 13%;
}
.footer-text{
    width: 70%;
    text-align: center;
    margin-left: 11%;
}
.social-icon li {
    padding: 5px 5px;
    display: inline-block;
    list-style-type: none;
}
.social-icon li a {
    text-decoration: none;
}
.social-icon {
    width: 64%;
    margin-left: 36%;
}.social-icon img {
    width: 64px;
    height: 64px;
}